<?xml version="1.0" ?>
<robot name="rover" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find rover_description)/urdf/rover_base.urdf.xacro" />

  <xacro:rover_base wheel_separation="0.235" base_diameter="0.3485">
    <mesh filename="package://rover_description/meshes/rover.stl" scale="0.1 0.1 0.1"/>
  </xacro:rover_base>
</robot>